{% load custom_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Page Title -->
    <title>About</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/logo/favicon.png" type="image/x-icon">

    <!-- CSS Files -->
      <link rel="stylesheet" href="{% static 'css/animate-3.7.0.css' %}">
      <link rel="stylesheet" href="{% static 'css/font-awesome-4.7.0.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/bootstrap-4.1.3.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/owl-carousel.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.min.css' %}">
      <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>

{% block title %}
    <title>About</title>
{% endblock %}

{% block header %}
    <!-- Preloader Starts -->
    <div class="preloader">
        <div class="spinner"></div>
    </div>
    <!-- Preloader End -->

    <!-- Header Area Starts -->
	<header class="header-area header-area2">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="main-menu main-menu2">
                        <ul>
                            <li><a  style="color:white;font-size: 20px" href={% url 'launch:launch-home' %}>NO QUEUE</a></li>
                        
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="custom-navbar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>  
                    <div class="main-menu main-menu2">
                        <ul>
                            <li class="active"><a href={% url 'launch:launch-home' %}>home</a></li>
                            <li><a href={% url 'launch:launch-about' %}>about</a></li>
                            {% if user.is_authenticated %}
                                <li><a href={% url 'launch:logout' %} action="{% url 'launch:logout' %}">Logout</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->
	{% endblock %}

	{% block content %}
     <!-- Banner Area Starts -->
     <section class="banner-area banner-area2 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1><i>About Us</i></h1>
                        <p class="pt-2"><i>Learn about the team that made this great project Possible!</i></p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Banner Area End -->
    
       <!-- Welcome Area Starts -->
        <section class="welcome-area section-padding2">
        
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 align-self-center">
                    
                        <div class="welcome-img">
                            <img src="{% static 'images/welcome-bg.png' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 align-self-center">
                        <div class="welcome-text mt-5 mt-md-0">
                            <h3><span class="style-change">Welcome</span> <br>to NoQueue</h3>
                            <p class="pt-3">NoQueue is a web based application allowing customers to preorder their food for takeaway, as well as providing a centralized platform to order food across different restaurants. </p>
                            <p>NoQueue also presents an Artificial Intelligence based recommendation system which learns from the users' previous purchases and suggests different restaurants through previously assimilated data.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Welcome Area End -->

    <!-- Testimonial Area Starts -->
    <section class="testimonial-area section-padding4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-top2 text-center">
                            <h3 style= "color: white">Meet the <span>Team</span></h3>
                            <p style= "color: white"><i>A bunch of kids who think they're making a difference</i></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="testimonial-slider owl-carousel">
                            <div class="single-slide d-sm-flex">
                                <div class="customer-img mr-4 mb-4 mb-sm-0">
                                    <img  style= "color: white;border-radius: 50px;
                                    padding: 20px; 
                                    width: 400px;
                                    height: 400px;" src="{% static 'images/ali.jpg' %}" alt="">
                                </div>
                                <div class="customer-text">
                                    <br>
                                    <h5  style= "color: white">Ali Ahad</h5>
                                    <span style= "color: white"><i>Backend Developer</i></span>
                                </div>
                            </div>
                            <div class="single-slide d-sm-flex">
                                <div class="customer-img mr-4 mb-4 mb-sm-0">
                                    <img  style= "color: white;border-radius: 50px;
                                    padding: 20px; 
                                    width: 400px;
                                    height: 400px;"src="{% static 'images/ghous.jpg' %}" alt="">
                                </div>
                                <div class="customer-text">
                                        <br>
                                    <h5 style= "color: white">Ghous Ali</h5>
                                    <span style= "color: white"><i>Wild Card</i></span>
                                    <p  style= "color: white"class="pt-3">Apun backend god</p>
                                </div>
                            </div>
                            <div class="single-slide d-sm-flex">
                                <div class="customer-img mr-4 mb-4 mb-sm-0">
                                    <img  style= "color: white;border-radius: 50px;
                                    padding: 20px; 
                                    width: 400px;
                                    height: 400px;"src="{% static 'images/aman.jpg' %}" alt="">
                                </div>
                                <div class="customer-text">
                                        <br>
                                    <h5 style= "color: white"> Aman Saraff</h5>
                                    <span style= "color: white"><i>Mr Middle end</i></span>
                                    <p  style= "color: white"class="pt-3">Only insaan jo Bina kaam kare bahut kaam kar liye</p>
                                </div>
                            </div>
                            
                            <div class="single-slide d-sm-flex">
                                <div class="customer-img mr-4 mb-4 mb-sm-0">
                                    <img  style= "color: white;border-radius: 50px;
                                    padding: 20px; 
                                    width: 400px;
                                    height: 400px;"src="{% static 'images/mudit.jpg' %}" alt="">
                                </div>
                                <div class="customer-text">
                                        <br>
                                    <h5 style= "color: white">Mudit Chaudhary</h5>
                                    <span style= "color: white"><i>AI God</i></span>
                                    <p  style= "color: white"class="pt-3">Chutiya bana denge TA ko</p>
                                </div>
                            </div>
                                
                            <div class="single-slide d-sm-flex">
                                <div class="customer-img mr-4 mb-4 mb-sm-0">
                                    <img  style= "color: white;border-radius: 50px;
                                    padding: 20px; 
                                    width: 400px;
                                    height: 400px;"src="{% static 'images/anmol.jpeg' %}" alt="">
                                </div>
                                <div class="customer-text">
                                        <br>
                                    <h5 style= "color: white">Anmol Mehta</h5>
                                    <span style= "color: white"><i>Front End Developer</i></span>
                                    <p  style= "color: white"class="pt-3">Kash koi mil jaye, thak chuka hu mai</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonial Area End -->

<!-- Footer Area Starts -->
<footer>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-6">
                        <span>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made  by Group 3
</span>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="social-icons">
                            <ul>
                                <li class="no-margin">Follow Us</li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->


    <!-- Javascript -->
    <script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap-4.1.3.min.js' %}"></script>
    <script src="{% static 'js/vendor/wow.min.js' %}"></script>
    <script src="{% static 'js/vendor/owl-carousel.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.datetimepicker.full.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/store.js' %}"></script>
</body>
</html>
{% endblock %}
