{% extends 'launch/base.html' %}
{% load static %}

{% block title %}
   <title>Place Order</title>
{% endblock %}

{% block content %}
   <section class="banner-area text-center">
      <div class="container">
		   <div class="background">
			   <div class="layer"></div>
			</div>

         <form class="modal-content" method="POST" enctype="multipart/form-data">
            
            <div class="container">
               <h1 style="color:Black;">Pre-order Time</h1>
               <p>Enter Order time</p>
               <hr>
               {% csrf_token %}
               
               {% if form.errors %}
                  <p>Please Complete the required fields</p>
               {% endif %}

               {% for field in date_form %}
                  <label for="year"><b>{{ field.label }}</b></label>
                  {{ field }}
               {% endfor %}
               
               <div class="clearfix" style="align-items:center">
                  <button type="submit" class="signupbtn" style="width:100%" >Checkout</button>
               </div>
            </div>
         </form>
      </div>
   </section>
{% endblock %}
