{% extends "launch/base.html"%}
{% load static %}
{% load custom_tags %}
{% block title %}
   <title>Restaurant-Menu</title>
{% endblock %}

{% block header %}
  <div class="preloader">
    <div class="spinner"></div>
  </div>

  <header class="header-area">
    <div class="container">
      <div class="row">
          <div class="col-lg-2">
            <div class="logo-area">
              <a href="index.html"><img src="{% static 'images/logo/logo.png' %}" alt="logo"></a>
            </div>
          </div>
          <div class="col-lg-10">
            <div class="custom-navbar">
              <span></span>
              <span></span>
              <span></span>
            </div>  
            <div class="main-menu">
              <ul>
                <li class="active"><a href={% url 'launch:launch-home' %}>Home</a></li>
                <li><a href={% url 'launch:launch-about' %}>About</a></li>
                <li><a href={% url 'launch:launch-contact' %}>contact</a></li>
                {% if user.is_authenticated %}
                  <li><a href={% url 'launch:logout' %} action="{% url 'launch:logout' %}">Logout</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
    </div>
  </header>
{% endblock %}


{% block content %}
  {% if user.is_authenticated %}
    <section class="food-area section-padding" id="main">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="section-top">
              <h3><span class="style-change">Click on an item to add it to your cart.</span></h3>
              <p class="pt-3"></p>
            </div>
          </div>
        </div>

        {% for item in item_list %}
          {% if forloop.counter|modulo:3 == 1 %}
            <br>
            <div class="row">
          {% endif %}
              <div class="col-md-4 col-sm-6">
                <div class="single-food">
                  <div class="crop">
                    <div class="food-img">
                      <img src="{{ item.image.url }}" class="img-fluid" alt="">
                    </div>
                  </div>
                  <div class="food-content">
                    <div class="d-flex justify-content-between">
                      <h5>{{ item.name }}</h5>
                      <span class="style-change">${{ item.price }}</span>
                    </div>
                    <p class="pt-3" style="word-break:break-all" >{{ item.description }}</p>
                    {% if user.is_owner %}
                      <a href="{% url 'launch:item-update' item.restaurant.pk item.pk %}" class="template-btn3 mt-3">Update Item<span><i class="fa fa-long-arrow-right"></i></span></a>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="{% url 'launch:item-delete' item.restaurant.pk item.pk %}" class="template-btn3 mt-3">Delete Item<span><i class="fa fa-long-arrow-right"></i></span></a>
                    {% else %}
                      <a href="{% url 'launch:add-to-cart' item.restaurant.pk item.pk%}" class="template-btn3 mt-3">Add to Cart<span><i class="fa fa-long-arrow-right"></i></span></a>
                    {% endif %}
                  </div>
                </div>
              </div>
          {% if forloop.last or forloop.counter|modulo:3 == 0 %}
              </div>
          {% endif %}
        {% endfor %}
      </div>
    </section>
  {% endif %}
  {% if user.is_authenticated %}
    {% if user.is_owner %}
      <h3 align="center">
        <a href="{% url 'launch:item-create' view.kwargs.pk%}" class="template-btn3 mt-3">					
          <p style="color:black;" align="center">
            <strong>Click here to Add Item<span><i class="fa fa-long-arrow-right"></i></span>
          </p>
        </a>
      </h3>
    {% else %}
      <h3 align="center">
        <a href="{% url 'launch:order-summary' view.kwargs.pk%}" class="template-btn3 mt-3">					
          <p style="color:black;" align="center">
            <strong>Proceed to cart<span><i class="fa fa-long-arrow-right"></i></span>
          </p>
        </a>
      </h3>     
    {% endif %}
  {% endif %}
{% endblock %}

<!--
<h1> MENU </h1>
<div class="container-menu">
  {% if item_list %}
  <ul>
    {% if user.is_authenticated %}
      {% if user.is_owner %}
        {% for item in item_list %}
      <li>
        <div class="container-item">
        <a href="{% url 'launch:item-detail' item.restaurant.pk item.pk%}"><p >{{ item.name }}</p></a>
        <p>{{ item.price }}</p> 
        <p>{{item.restaurant}}</p>
        <div class="container-item-warning"></div>
        </div>
      </li>
    {% endfor %}
  </ul>
    {% else %}

    <ul>
    {% for item in item_list %}
    
      <li>
        <div class="container-item">
        <a href="{% url 'launch:item-detail' item.restaurant.pk item.pk%}"><p >{{ item.name }}</p></a>
        <p>{{ item.price }}</p> 
        <p>{{item.restaurant}}</p>
        <div class="container-item-warning"></div>
        <a href ="{% url 'launch:add-to-cart' item.restaurant.pk item.pk%}"><button> Add to cart </button></a>
       
        </div>
      </li>
  {% endfor %}
</ul>
{% endif %}
{%endif%}
  {% else %}
    <p>Menu is empty.</p>
  {% endif %}    
  </div>   
   <a href="{% url 'launch:item-create' view.kwargs.pk%}"><button> Add item </button></a>
-->