{% extends 'launch/base.html' %}
{% load static %}
{% block title %}
{% load crispy_forms_tags %}
   <title>Restaurant Register</title>
{% endblock %}

{% block header %}
   <header class="header-area">
      <div class="container">
         <div class="row">
            <div class="col-lg-2">
               <div class="logo-area">
                  <a href="index.html"><img src="{% static 'images/logo/logo.png' %}" alt="logo"></a>
               </div>
            </div>
            <div class="col-lg-10">
               <div class="custom-navbar">
                  <span></span>
                  <span></span>
                  <span></span>
               </div>  
               <div class="main-menu">
                  <ul>
                     <li class="active"><a href={% url 'launch:launch-home' %}>Home</a></li>
                     <li><a href={% url 'launch:launch-about' %}>About</a></li>
                     <li><a href={% url 'launch:launch-contact' %}>contact</a></li>
                     {% if user.is_authenticated %}
                        <li><a href={% url 'launch:logout' %} action="{% url 'launch:logout' %}">Logout</a></li>
                     {% endif %}
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </header>
{% endblock %}



{% block content %}
   <section class="banner-area text-center">
      <div class="container">
		   <div class="background">
            <div class="layer"></div>
         </div>
         <form class="modal-content" method="post" enctype="multipart/form-data">
         {% csrf_token %}
            <div class="container">
               <h1 style="color:Black;">Add/Update Item</h1>
               <p>Please fill in this form to Add/Update Item details</p>
               <hr>

               <label for="First Name" id="Restaurant Name"><b>Name</b></label>
               {{ form.name }}
            
               <label for="Price" id="Restaurant Name"><b>Price</b></label>
               {{ form.price }}

               <label for="Cuisine" id="Restaurant Name"><b>Cuisine</b></label>
               {{ form.cuisine }}

               <!--
               <label for="Cuisine"><b>Description</b></label>
               <input type="text" placeholder="Enter Description" name="Cuisine" required>
               -->

               <label for="image"><b>Edit image</b></label></br>
               {{ form.image }}

               <div class="clearfix">
                  <a href="{% url 'launch:launch-home'%}"><button type="button" class="cancelbtn">Cancel</button></a>
                  <button type="submit" class="signupbtn">Update/Create</button>
               </div>
            </div>
         </form>
      </div>
   </section>
{% endblock %}

   <!--
   <div>
      <h1>Create Restaurant </h1>
      <form method="post" enctype="multipart/form-data" >
         {% csrf_token %}
         {{ form | crispy }} 
         <button type="submit">Update/Create</button>
         <a href="{% url 'launch:launch-home'%}"><button>Back</button></a>           
      </form>
   </div>
   -->