{% extends "launch/base.html"%}
{% block title %}
   <title>Launch-Home</title>
{% endblock %}

{% block content %}
   <h1>Launch Home</h1>
   {% if user.is_authenticated %}
   <h1>Welcome</h1> 
   <h3>{{user.get_username}}</h3>
   {% if user.is_owner %}
   <h4> Restaurant owner</h4>
   {%else%}
   <h4> Customer </h4>
   {% endif %}
   <a href={% url 'launch:logout' %}><button type="submit"> Logout </button></a>
   {% else %}
   <a href={% url 'launch:login' %}><button type="submit">Log in</button></a>
   <a href={% url 'launch:register' %}><button type="submit">Register</button></a>
   {% endif %}
   
{% endblock %}