{% extends "launch/base.html"%}
{% block title %}
   <title>Launch-Home</title>
{% endblock %}

{% block content %}
   <h1>Launch Home</h1>
   {% if user.is_authenticated %}
        <h1>Welcome</h1> 
        <h3>{{user.get_username}}</h3>
        <a href={% url 'launch:logout' %}><button type="submit"> Logout </button></a>

        {% if user.is_owner %}
          <img width="100" height="100"src="{{user.owner_profile.image.url}}"></img>
          <h4> Restaurant owner</h4>

          {% if myrestaurants %}
            <h1>My Restaurants</h1>
            {% for restaurant in myrestaurants %}
              <div class="restaurant-container">
                <p><a href="{% url 'launch:restaurant-detail' restaurant.id%}">{{ restaurant.name }}</a></p>
                <img width="100" height="100" src="{{restaurant.image.url}}"></img>
                <p>{{ restaurant.cuisine }}</p>
                <p>{{ restaurant.location }}</p>        
              </div>
            {% endfor %}

        {% endif %}
        <a href={% url 'launch:restaurant-create' %}><button type="submit"> Add restaurant </button></a>

    {% else %}
        <h4> Customer </h4>
        <img width="100" height="100" src="{{user.customer_profile.image.url}}"></img>
        <h1>Restaurants</h1>

        {% for restaurant in restaurants %}
        <div class="restaurant-container">
          <p><a href="{% url 'launch:restaurant-detail' restaurant.id%}">{{ restaurant.name }}</a></p>
          <img width="100" height="100" src="{{restaurant.image.url}}"></img>
          <p>{{ restaurant.cuisine }}</p>
          <p>{{ restaurant.location }}</p>         
        </div>
        {% endfor %}
        
    {% endif %}

  {% else %}
    <a href={% url 'launch:login' %}><button type="submit">Log in</button></a>
    <a href={% url 'launch:register' %}><button type="submit">Register</button></a>
  {% endif %}
{% endblock %}