{% extends 'launch/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
   <title>owner Log In</title>
{% endblock %}

{% block content %}
   <div>
      <h1>Login to owner</h1>
      <form method="POST">
         {% csrf_token %}
         <fieldset>
            <legend>Log In</legend>
            {{ form | crispy }}
         </fieldset>
         <button type="submit">Sign In</button>
      </form>
   </div>

   <div>
      <small>Need an account? <a href={% url 'launch:register' %}>Sign Up</a></small>
   </div>
{% endblock %}