
{% load custom_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/logo/favicon.png' %}" type="image/x-icon">

    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'css/animate-3.7.0.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome-4.7.0.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-4.1.3.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl-carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link href='https://fonts.googleapis.com/css?family=Alegreya Sans SC' rel='stylesheet'>
    <link rel="stylesheet" href="{% static "css/searchbar.css" %}">
    <link rel="stylesheet" href="{% static "css/OrderStyles.css" %}">

    <title>View orders</title>
    
  </head>

  <body>
    <div class="preloader">
      <div class="spinner"></div>
    </div>
    
    <header class="header-area">
      <div class="container">
          <div class="row">
              <div class="col-lg-2">
                  <div class="logo-area">
                      <a href={% url 'launch:launch-home' %}><img src="{% static 'images/logo/logo.png' %}" alt="logo"></a>
                  </div>
              </div>
              <div class="col-lg-10">
                  <div class="custom-navbar">
                      <span></span>
                      <span></span>
                      <span></span>
                  </div>  
                  <div class="main-menu">
                      <ul>
                          <li class="active"><a href={% url 'launch:launch-home' %}>Home</a></li>
                          <li><a href={% url 'launch:launch-about' %}>About</a></li>
                          {% if user.is_authenticated %}
                            <li><a href={% url 'launch:logout' %} action="{% url 'launch:logout' %}">Logout</a></li>
                          {% endif %}
                      </ul>
                  </div>
              </div>
          </div>
      </div>
    </header>

    {% if user.is_authenticated %}
      <section class="section-padding">
        <h2 class="section-header">VIEW MY ORDERS</h2>
          <div class="container">
            {% for transaction in Transactions %}
              <div class="table-responsive">          
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      {% if user.is_owner %}
                        <th>CUSTOMER ID</th>
                      {% endif %}
                      <th>RESTAURANT</th>
                      <th>ITEMS</th>
                      <th>TOTAL PRICE</th>
                      <th>ORDER DATE</th>
                      <th>ORDER TIME</th>
                      <th>PREORDER DATE</th>
                      <th>PREORDER TIME</th>      
                      <th>STATUS</th>
                      {% if user.is_owner %}
                        <th>ACCEPT/REJECT</th>
                      {% endif %}
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ forloop.counter}}.</td>
                      <td>{{transaction.profile.user.username}}</td>
                      <td>{{transaction.restaurant.name}}</td>
                      <td>
                        {% for item in transaction.order.items.all %} 
                            {{ item.product.name}} x {{item.quantity}},
                        {% endfor %}
                      </td>
                          
                      <td>$ {{transaction.order.get_cart_total}}</td>
                      <td>{{transaction.timestamp.date}}</td>
                      <td>{{transaction.timestamp.time}}</td>
                      <td>{{transaction.collect_timestamp.date}}</td>
                      <td>{{transaction.collect_timestamp.time}}</td>
                      <td>{{transaction.orderStatus}}</td>
                      {% if user.is_owner%}
                        <td>
                          <a href="{% url 'launch:update-status' transaction.id %}" onclick="location.reload()"><button class="btn-danger" type="button">Accept</button></a> 
                          <a href="{% url 'launch:update-status-reject' transaction.id %}" onclick="location.reload()"><button class="btn-danger" type="button">Reject</button></a> 
                        </td>  
                      {% endif %} 
                    </tr>
                  </tbody>
                </table>
              </div>
            {% endfor %}   
          </section>
        </div>
      </section>
    <!-- Food Area End -->
    {% else %}
      {% endif %}

    <footer>
            <div class="footer-copyright">
              <div class="container">
                  <div class="row">
                    <div class="col-lg-7 col-md-6">
                        <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made  by Group 3
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="social-icons">
                          <ul>
                              <li class="no-margin">Follow Us</li>
                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                          </ul>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
        </footer>
    
        <script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
        <script src="{% static 'js/vendor/bootstrap-4.1.3.min.js' %}"></script>
        <script src="{% static 'js/vendor/wow.min.js' %}"></script>
        <script src="{% static 'js/vendor/owl-carousel.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.datetimepicker.full.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.nice-select.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/store.js' %}"></script>
    
      </body>
    </html>
    