{% extends 'launch/base.html' %}
{% load static %}

{% block title %}
   <title>Confirm Delete</title>
{% endblock %}

{% block header %}
   <header class="header-area">
      <div class="container">
         <div class="row">
               <div class="col-lg-2">
                  <div class="logo-area">
                     <a href={% url 'launch:launch-home' %}><img src="{% static 'images/logo/logo.png' %}" alt="logo"></a>
                  </div>
               </div>
               <div class="col-lg-10">
                  <div class="custom-navbar">
                     <span></span>
                     <span></span>
                     <span></span>
                  </div>  
                  <div class="main-menu">
                     <ul>
                           <li class="active"><a href={% url 'launch:launch-home' %}>Home</a></li>
                           <li><a href={% url 'launch:launch-about' %}>About</a></li>
                           {% if user.is_authenticated %}
                           <li><a href={% url 'launch:logout' %} action="{% url 'launch:logout' %}">Logout</a></li>
                           {% endif %}
                     </ul>
                  </div>
               </div>
         </div>
      </div>
   </header>
{% endblock %}

{% block content %}
   <section class="banner-area text-center">
      <div class="container">
			<div class="background">
				<div class="layer"></div>	
			</div>
			<form class="modal-content" method="post" enctype="multipart/form-data">
            {% csrf_token %}
			   <div class="container">
					<h1 style="color:Black;">Confirmation</h1>
					<p>Are you sure you want to Delete?</p>
					<hr>
			  
					<div class="clearfix">
					   <button type="button" onclick="window.history.back();" class="cancelbtn">Cancel</button>
						<a href="{% url 'launch:launch-home' %}"><button type="submit" class="signupbtn">Confirm</button></a>
					</div>
				</div>
			</form>
      </div>
   </section>
{% endblock %}

<!--
   <div>
      <h1>Delete Restaurant</h1>
      <form method="post" enctype="multipart/form-data" >
         {% csrf_token %}
         <h2> Are you sure you want to delete the restaurant {{ object.name}}?</h2>
         <button type="submit">Yes, Delete</button>
         <a href="{% url 'launch:launch-home' %}"><button type="submit">Cancel</button></a>
      </form>
   </div>
-->