{% extends 'launch/base.html' %}
{% block title %}
   <title>Restaurant Register</title>
{% endblock %}

{% block content %}
   <div>
      <h1>Register to restaurant</h1>
      <form method="POST">
         {% csrf_token %}
         <fieldset>
            <legend>Join today</legend>
            {{ form.as_p }}
            <input type="radio" name="user_type" value="restaurant">Restaurant Owner <br>
            <input type="radio" name="user_type" value="customer">Customer <br>
         </fieldset>
         <button type="submit">Sign Up</button>
      </form>
   </div>

   <div>
      <small>Already have an account? <a href={% url 'launch:launch-restaurant-login' %}>Sign In</a></small>
   </div>

{% endblock %}